<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>arXiv DOI updater</title>
  </head>
  <body>
    <form method="POST" accept-charset="utf-8">
      {{ form.bibtext.label }} {{ form.bibtext() }}
      <input type="submit" value="Submit">
    </form>
    {% if message %}
      <div id="message">
        {{ message }}
      </div>
    {% endif %}
    {% if urls %}
      <div id="result">
        <ul>
          {% for key, url in urls.items() %}
            <li> {{ key }} &rarr; <a href="{{ url }}">{{ url }}</a>
          {% endfor %}
      </div>
    {% endif %}
  </body>
</html>
